body{
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 
    /*background-color: rgb(118, 5, 199);*/
}
.Main{
    background-color: white;
    color: black;
}
.container{
    margin: 0px 220px 0px 220px;
}

