
body{
    
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.cabecera1{
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: bold;
    background-color: #25CCD8;
    height: 80px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 13px 9px 1px rgba(0, 0, 0, 0.4);
}
.cabecera__titulo{
    margin: 0px 0px 0px 0px;
}
.contenedor{
    margin: 0px 150px 0px 150px ;
    background-color: white;
}
.main{
    margin: 0px 150px 20px 150px ;
    border: 1px solid grey;
    padding: 20px;
    text-align: left;
}
